.tournament {
    display: flex;
    height: 100%;
    width: 100%;
}

.tournament__info {
    display: flex;
    width: 350px;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.tournament__editor {
    width: 100%;
}

.tournament__image {
    height: 200px;
    width: 200px;
}

.tournament__teams {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.tournament__team {
    margin: 5px;
}

.tournament__team-image {
    height: 60px;
    width: 60px;
}
