.description-game {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.description-game__team {
    text-align: center;
}

.description-game__bill {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 1.7em;
}

.team__name {
    color: darkblue;
    font-size: 1.7em;
}

.team__players {
    display: flex;
    justify-content: space-between;
    width: 150px;
    padding: 5px;
}

.avatar {
    width: 100px;
    height: 100px;
}

.isWin {
    color: green;
}

.isLose {
    color: red;
}
