<div class="description-game">
    <div class="description-game__team">
        <div>
            <img [src]="game.team1.image" class="avatar">
            <h3 class="team__name">{{game.team1.name}}</h3>
        </div>
    </div>
    <div class="description-game__bill">
        <div>
            <h2>
                <span [ngClass]="isWin(game.team1.goals)">{{game.team1.goals}}</span>
                :
                <span [ngClass]="isWin(game.team2.goals)">{{game.team2.goals}}</span>
            </h2>
        </div>
        <div>
            <span>({{game.date | date:"medium"}})</span>
        </div>
    </div>
    <div class="description-game__team">
        <div>
            <img [src]="game.team2.image" class="avatar">
            <h3 class="team__name">{{game.team2.name}}</h3>
        </div>
    </div>
</div>
