.profile {
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
}

.profile > mat-card {
    height: 940px;
    overflow: hidden;
}

.user-info {
    width: 450px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.profile-info > div {
    display: flex;
    align-items: center;
}

table td {
    height: 35px;

}

.profile-avatar {
    width: 200px;
    height: 200px;
}

.header-team {
    color: #646974;
    font-size: 27px;
    font-family: Trebuchet MS, Fira Sans;
    fill: #646974;
    text-align: center;
    font-weight: normal;
    padding: 0;
    border-bottom: 1px solid #646974;
    margin-bottom: 15px;
    width: 100%;
}

.profile__teams {
    padding: 0 15px;
    width: 100%;
    min-width: 200px;
    height: 100%;
}

.profile__teams-team {
    cursor: pointer;
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    justify-content: space-between;
}

.profile__teams-team > div {
    display: flex;
}

.profile__avatar-team {
    height: 40px;
    width: 40px;
    flex-shrink: 0;
}

.profile__team-text {
    margin-left: 10px;
    font-size: 1.2em;
    line-height: 40px;
}

.call {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.call-team {
    width: 180px;
    display: flex;
    align-items: center;
}

.middle-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.middle-info span {
    line-height: 1.1em;
}

.middle-info span + span {
    line-height: 1em;
    font-size: 0.85em;
    color: #646974;

}

.calls-buttons-container {
    width: 180px;
}

.calls-buttons {
    height: 100%;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.calls-button {
    margin-right: 3px;
}

.calls-button, .calls-button img {
    width: 30px;
    height: 30px;
}
