.editors {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.player-to-team {
    padding-right: 10px;
    width: 100%;
}

.team-player {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.editor {
    height: 525px;
}

.team-player__teams-container {
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    padding-right: 30px;
}

.team-player__teams-header {
    text-align: center;
}

.team-player__players-container {
    overflow-x: hidden;
    max-width: 300px;
    width: 100%;
    height: 100%;
}

.team-player__header {
    text-align: center;
    padding: 2px;
}

.team-player__teams {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px 20px 25px;
    overflow-y: auto;
}

.team-player__players {
    overflow-x: auto;
    padding: 0 15px;
    width: 280px;
    min-width: 200px;
    margin: 0 auto;
}

.team-player__team {
    height: 156px;
    width: 140px;
    margin-right: 25px;
    margin-bottom: 10px;
}

.team-player__team.hover {
    box-shadow: 0 0 10px black;
}

.team-player__player {
    display: flex;
    margin-bottom: 10px;
}

.team-player__player:hover {
    cursor: grab;
    background: #d6d6d6;
}

.avatar-team {
    width: 100px;
    height: 100px;
}

.avatar-player {
    height: 40px;
    width: 40px;
    flex-shrink: 0;
}

.team-player__player-text {
    margin-left: 10px;
    font-size: 1.2em;
    line-height: 40px;
}

.team-player__team-name {
    text-align: center;
}

mat-list-item span {
    margin-left: 10px;
}

.disabled {
    opacity: 0.2;
}

.header, .subheader {
    color: #646974;
    font-size: 27px;
    font-family: Trebuchet MS, Fira Sans;
    fill: #646974;
    text-align: center;
    font-weight: normal;
    padding: 10px;
    border-bottom: 1px solid #646974;
    margin-bottom: 15px;
    width: 100%;
}

.subheader {
    font-size: 24px;
}
