<form [formGroup]="userFormGroup" (ngSubmit)="onSubmit(userFormGroup.value ,formDirective)"
      class="example-container" #formDirective>
    <mat-form-field>
        <input matInput placeholder="Name" formControlName="username">
        <mat-error *ngIf="username.touched && username.errors">
            Minimum 2 character
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Role" formControlName="role">
            <mat-option value="Attack">Attack</mat-option>
            <mat-option value="Defense">Defense</mat-option>
        </mat-select>
        <mat-error *ngIf="role.touched && role.errors">
            Role is required
        </mat-error>
    </mat-form-field>
    <button mat-raised-button
            color="accent"
            class="button-create"
            type="submit"
            [disabled]="!userFormGroup.valid"
    >Create
    </button>
    <div *ngIf="success && !userFormGroup.touched" style="text-align: center">
        <span [style.color]="'green'">Success</span>
    </div>
</form>
