.match-team-description {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

.team-select {
    position: relative;
    display: flex;
    justify-content: center;
}

.team-select__list{
    position: absolute;
    top: 0;
}

.team-select__list.left{
    left: 0;
}

.team-select__list.right{
    right: 0;
}

.right {

 }

.match-team-description__players {
    display: flex;
    justify-content: space-around;
}

.goals {
    align-items: center;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
}

.team {
    text-align: center;
    color: darkblue;
}

.goals-select {
    width: 75px;
}
