<div class="match-team-description">
    <div class="team center">
        <mat-form-field>
            <mat-label>Team</mat-label>
            <mat-select>
                <mat-option *ngFor="let team of teams" [value]="team.id" (click)="selectTeam(team)">
                    {{team.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="goals center">
        <h1 style="text-align: center; color: darkblue">{{selectedTeam ? selectedTeam.name : null}}</h1>
        <mat-form-field [style.width.px]="75">
            <mat-label>Goals</mat-label>
            <mat-select (valueChange)="setMaxGoals(goals.value)" style="text-align: center" #goals>
                <mat-option *ngFor="let goal of variantGoals" [value]="goal" style="text-align: center">
                    {{goal}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="players">
        <div *ngFor="let player of players; index as i">
            <app-player-match-game [player]="player" [id]="i"></app-player-match-game>
        </div>
    </div>

</div>


