<div class="match-team-description">
    <div class="team-select">
            <app-list-team-players [formGroupTeam]="formGroupTeam"
                                   [class]="float + ' ' + 'team-select__list'"
            ></app-list-team-players>

        <div>
            <app-select-team [formGroupTeam]="formGroupTeam"></app-select-team>
        </div>
    </div>
    <div class="match-team-description__players">
        <app-player-statistics [formGroupPlayer]="player1" [goals]="goals"></app-player-statistics>
        <app-player-statistics [formGroupPlayer]="player2" [goals]="goals"></app-player-statistics>
    </div>
</div>
