.match-team-description{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

.players {
    display: flex;
    justify-content: space-around;
}

.goals{
    align-items: center;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
}
