<div [class]="'match-team-description ' + float">
    <div class="main">
        <h1 class="text-center">{{float === 'left' ? 'Team 1' : 'Team2'}}</h1>
        <app-select-team [formGroupTeam]="formGroupTeam"></app-select-team>
        <div class="match-team-description__players">
            <app-player-statistics [formGroupPlayer]="player1"
                                   [goals]="goals"></app-player-statistics>
            <app-player-statistics [formGroupPlayer]="player2"
                                   [goals]="goals"></app-player-statistics>
        </div>
    </div>
    <div>
        <app-list-team-players [formGroupTeam]="formGroupTeam"></app-list-team-players>
    </div>
</div>
