.player-statistics {
    position: relative;
    margin: 20px;
}

.player-statistics__close {
    position: absolute;
    top: 15px;
    right: 15px;
}

.avatar {
    flex-shrink: 0;
    width: 42.5px;
    height: 42.5px;
    border-radius: 50%;
    object-fit: cover;
}
