<form [formGroup]="formGroup" class="example-container" #formElement>
    <ng-content></ng-content>
    <button mat-raised-button
            color="accent"
            class="button-create"
            (click)="submit(formElement)"
            [disabled]="!formGroup.valid"
    >{{buttonText}}
    </button>
    <div *ngIf="success && !formGroup.touched && !errorMessage">
        <span class="success">Success</span>
    </div>
    <div *ngIf="errorMessage">
        <span class="error">{{errorMessage | titlecase}}</span>
    </div>
</form>
