<app-editor-layout [errorMessage]="errorMessage"
                   [formGroup]="formGroup"
                   (submitEvent)="onSubmit($event)"
                   buttonText="Создать команду"
                   class="editor-team"
>
    <mat-form-field class="wrapper-input">
        <mat-label>Название команды</mat-label>
        <input matInput placeholder="Команда" formControlName="name" (change)="clear()">
        <mat-error *ngIf="name.touched && name.errors">
            Минимум 2 символа
        </mat-error>
    </mat-form-field>
    <app-upload-image [image]="image"></app-upload-image>
</app-editor-layout>
