<app-editor-layout [errorMessage]="errorMessage"
                   [success]="success"
                   [formGroup]="teamFormGroup"
                   (submitEvent)="onSubmit()"
                   class="editor-team"
>
    <h1>Team</h1>
    <mat-form-field class="wrapper-input">
        <input matInput placeholder="Name" formControlName="name" (change)="clear()">
        <mat-error *ngIf="name.touched && name.errors">
            Minimum 2 character
        </mat-error>
    </mat-form-field>
    <div class="editor-team__players">
        <mat-form-field *ngFor="let user of [player1,player2]">
            <mat-select placeholder="Player" [formControl]="user" (valueChange)="clear()">
                <mat-option [value]="player.id"
                            *ngFor="let player of players">{{player.username}}</mat-option>
            </mat-select>
            <mat-error *ngIf="user.touched && user.errors">
                Player is required
            </mat-error>
        </mat-form-field>
    </div>
</app-editor-layout>
