<div class="editor-page">
    <mat-card [style.height.%]="100" class="editor-page_game-and-team-user">
        <app-editor-game class="editor-page__editor-team"></app-editor-game>
        <app-team-player-drag-and-drop class="editor-page__team-user"></app-team-player-drag-and-drop>
    </mat-card>
    <mat-card class="editor-page__team-and-user">
        <mat-card>
            <app-editor-team></app-editor-team>
        </mat-card>
        <mat-card>
            <app-editor-user></app-editor-user>
        </mat-card>
    </mat-card>
</div>
