.editor {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: url('../../../assets/fon.jpg') no-repeat;
    background-size: cover;
}

.editor app-team-player-drag-and-drop {
    margin-bottom: 20px;
}

.editor app-editor-game {
    margin-bottom: 20px;
}
