<div class="image-upload-container">
    <div class="image-upload">
        <input #imageInput
               [class.disabled]="disabled"
               type="file"
               accept="image/*"
               (dragenter)="setColor()"
               (dragleave)="deleteColor()"
               (drop)="deleteColor()"
               (change)="processFile(imageInput)">
        <div class="image-upload__text" [ngStyle]="{opacity: image && image.value ? 0 : 1}">
            <img src="../../../assets/addImage.svg" alt="" *ngIf="!hover; else blueImage">
        </div>
        <div class="image-container" *ngIf="image && image.value">
            <img [src]="image.value" alt="">
        </div>
    </div>
</div>

<ng-template #blueImage>
    <img src="../../../assets/addImageHover.svg" alt="">
</ng-template>
