<div class="image-upload-container">
    <div class="image-upload">
        <input #imageInput
               [class.disabled]="disabled"
               type="file"
               accept="image/*"
               title=""
               (change)="processFile(imageInput)">
        <div class="tooltip">
            {{ image.value ? 'Изменить фото' : 'Загрузить фото'}}
        </div>
        <div class="image-upload__text" [ngStyle]="{opacity: image && image.value ? 0 : 1}">
            <img src="../../../assets/addImage.svg" alt="">
        </div>
        <div class="image-container" *ngIf="image && image.value">
            <img [src]="image.value" alt="">
        </div>
    </div>
</div>
