<mat-card class="editor-game-container">
    <app-editor-layout [errorMessage]="errorMessage"
                       [formGroup]="formGroup"
                       buttonText="Добавить игру"
                       (submitEvent)="onSubmit($event)"
                       [buttonStyle]="{'width':'200px', 'marginTop': '-35px'}"
    >
        <div class="teams">
            <div class="teams-item">
                <app-list-team-players [formGroupTeam]="team1" [formGroupRival]="team2"
                                       [style.height.%]="100"></app-list-team-players>
                <app-select-team [formGroupTeam]="team1" [rivalId]="team2Id"></app-select-team>
            </div>
            <div class="teams__bill-container">
                <h1 class="header">Добавление игры</h1>
                <mat-card class="teams__bill">
                    <input matInput [formControl]="goalsTeam1" class="bill-input" type="number" min="0" [max]="maxGoals"
                           step="1" (keypress)="isNumber($event)">
                    <span>:</span>
                    <input matInput [formControl]="goalsTeam2" class="bill-input" type="number" min="0" [max]="maxGoals"
                           step="1" (keypress)="isNumber($event)">
                </mat-card>
            </div>
            <div class="teams-item">
                <app-select-team [formGroupTeam]="team2" [rivalId]="team1Id"></app-select-team>
                <app-list-team-players [formGroupTeam]="team2" [formGroupRival]="team1"
                                       [style.height.%]="100"></app-list-team-players>
            </div>
        </div>
    </app-editor-layout>
</mat-card>
