.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header__home-icon {
    width: 40px;
    height: 50px;
    font-size: 50px;
    position: fixed;
    top: 50%;
    transform: translate(-10px, -50%);
    left: 0;
    z-index: 100;
}

.header__home-icon:hover {
    cursor: pointer;
    color: #0000b7;
}

.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background: rgb(255, 255, 255);
}


::ng-deep .mat-form-field-flex {
    background: white !important;
}

::ng-deep mat-form-field {
    width: 100%;
}
