<div *ngIf="player" class="profile">
    <mat-card class="user-info">
        <h3 class="header-team">Пользователь</h3>
        <div class="profile-info">
            <div>
                <app-upload-image [image]="image" [disabled]="!isEditEnabled"></app-upload-image>
                <div>
                    <table>
                        <tr>
                            <td>Имя:</td>
                            <td>{{player.name}}</td>
                        </tr>
                        <tr>
                            <td>Почта:</td>
                            <td><p>{{player.mail}}</td>
                        </tr>
                        <tr>
                            <td>Голы:</td>
                            <td>{{goals}}</td>
                        </tr>
                    </table>
                    <button mat-raised-button color="accent" (click)="update()" *ngIf="isEditEnabled"
                            [disabled]="!isNewImage">Сохранить фото
                    </button>
                </div>
            </div>

            <button [style.width.%]="100" mat-raised-button color="primary" (click)="changePassword()"
                    *ngIf="isEditEnabled">
                Изменить пароль
            </button>
        </div>
        <div>
            <h3 class="header-team">Команды ({{player.teams.length}})</h3>
            <mat-list class="profile__teams">
                <perfect-scrollbar>
                    <mat-card *ngFor="let team of player.teams"
                              draggable="true"
                              class="profile__teams-team"
                              [style.padding]="'5px 20px'"
                              [routerLink]="['/team/', team.id]"
                    >
                        <div>
                            <img [src]="team.image" class="profile__avatar-team" [title]="team.name"
                                 draggable="false">
                            <span class="profile__team-text">{{team.name}}</span>
                        </div>
                        <img src="../../../assets/captain.svg" class="profile__avatar-team" title="captain"
                             draggable="false" *ngIf="team.captainId === player.id">
                    </mat-card>
                </perfect-scrollbar>
            </mat-list>
        </div>
    </mat-card>
    <mat-card [style.width.px]="750" *ngIf="games" class="statistics">
        <h3 class="header-team">Статистика</h3>
        <app-count-game-chart [games]="games" [id]="player.id"></app-count-game-chart>
        <app-win-rate-chart [games]="games" [id]="player.id"></app-win-rate-chart>
    </mat-card>
    <mat-card [style.width.px]="580" *ngIf="games">
        <app-profile-history-game [games]="games"></app-profile-history-game>
    </mat-card>
</div>
