<div class="entry-form-wrapper">
    <mat-card class="entry-form">
        <div>
            <h1 class="entry-form__title">Добро пожаловать</h1>
            <div class="entry-form__main">
                <app-register *ngIf="!isLogin"></app-register>
                <app-login *ngIf="isLogin"></app-login>
            </div>
        </div>

        <mat-card-subtitle>
            {{isLogin ? 'У вас нет аккаунта?' : 'У вас есть аккаунт?'}}
            <span (click)="toggleForm()">{{isLogin ? 'Зарегистрироваться' : 'Войти'}} </span>
        </mat-card-subtitle>
    </mat-card>
</div>


