<div class="rating-players">
    <h1 class="text-center">Players rating</h1>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="place">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header>Place</th>
                <td mat-cell *matCellDef="let row"> {{row.place}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let row">
                    <span class="list-item">
                    <img class="avatar-sm" [src]="row.image" alt="">
                        {{row.name}}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="countGame">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header>Games</th>
                <td mat-cell *matCellDef="let row"> {{row.countGame}} </td>
            </ng-container>

            <ng-container matColumnDef="goals">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header>Goals</th>
                <td mat-cell *matCellDef="let row"> {{row.goals}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                [style.backgroundColor]="setColor(row.place)">
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
    </div>
</div>
