<mat-nav-list>
    <h2 matSubheader>Result match</h2>
    <mat-list-item>
        <a matLine routerLink="/users"><mat-icon>add</mat-icon>Result match</a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h2 matSubheader>Game</h2>
    <mat-list-item>
        <a matLine routerLink="/users"><mat-icon>person</mat-icon>Create </a>
    </mat-list-item>
    <mat-list-item>
        <a matLine routerLink="/users"><mat-icon>person</mat-icon>Create team</a>
    </mat-list-item>
    <mat-list-item>
        <a matLine routerLink="/team"><mat-icon>supervisor_account</mat-icon>Add player</a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h2 matSubheader>Rating</h2>
    <mat-list-item>
        <a matLine routerLink="/team"><mat-icon>supervisor_account</mat-icon>Team</a>
    </mat-list-item>
    <mat-list-item>
        <a matLine routerLink="/users"><mat-icon>person</mat-icon>Player</a>
    </mat-list-item>
</mat-nav-list>
