<mat-nav-list>
    <h2 matSubheader>Creating</h2>
    <mat-list-item routerLink="/create/game" (click)="closeSidenav()">
        <span matLine><mat-icon>add</mat-icon>Game</span>
    </mat-list-item>
    <mat-list-item routerLink="/create/team" (click)="closeSidenav()">
        <span matLine><mat-icon>edit</mat-icon>Editor</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item routerLink="/rating" (click)="closeSidenav()">
        <span matLine><mat-icon>assessment</mat-icon>Rating</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item routerLink="/history/games" (click)="closeSidenav()">
        <span matLine><mat-icon>videogame_asset</mat-icon>History</span>
    </mat-list-item>
</mat-nav-list>
